{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<p>Login failed! Try again!!</p>
{% endif %}
{% if next %}
{% if user.is_authenticated %}
<p>You don't have access to information. You must login, soldier.</p>
{% endif %}
{% endif %}
<form method="post" action="{% url 'login' %}"> {% csrf_token %}
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="submit" value="Login"/> <input type="hidden" name="next" value="{{ next }}"/></form> <p><a
        href="{% url 'password_reset' %}">Forgot your password? Too bad.</a></p> {% endblock %}