{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete a weapon</legend>
            <h2>Do you really want to delete {{ weapon.id }}?</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">
                Yes, delete
            </button>

        </div>
    </form>
</div>
{% endblock content %}