{% extends "base.html" %}

{% block content %}
<h1>Soldiers</h1>
<p>Platoon 1</p>
{% for soldier in soldiers %}
<li><a href="{% url 'soldier' soldier.id %}">
    <strong>{{ soldier.rank }}.  {{ soldier.last_name }}, {{ soldier.first_name }}</strong></a></li>
{% endfor %}
<div class="container puslapiai">
<nav aria-label="...">
{% if soldier.has_other_pages %}
<ul class="pagination pagination-sm justify-content-end">
{% for i in soldier.paginator.page_range %}
{% if soldier.number == i %}
<li class="page-item active">
<a class="page-link" href">{{ i }}</a>
</li>
{% else %}
<li class="page-item">
<a class="page-link" href="?page={{ i }}">{{ i }}</a>
</li>
{% endif %}
{% endfor %}
</ul>
{% endif %}
</nav>
</div>
{% endblock %}