{% extends "base.html" %}

{% block content %}
<h1>Soldiers</h1>
<p>Platoon 1</p>
{% for operators in soldiers %}
<li><a href="{% url 'soldier' operators.id%}">
    <strong>{{ operators }} </strong></a></li>
{% endfor %}
<div class="container puslapiai">
<nav aria-label="...">
{% if soldiers.has_other_pages %}
<ul class="pagination pagination-sm justify-content-end">
{% for i in weaponunit.paginator.page_range %}
{% if weaponunit.number == i %}
<li class="page-item active">
<a class="page-link" href">{{ i }}</a>
</li>
{% else %}
<li class="page-item">
<a class="page-link" href="?page={{ i }}">{{ i }}</a>
</li>
{% endif %}
{% endfor %}
</ul>
{% endif %}
</nav>
</div>
{% endblock %}