{% extends "base.html" %}
{% block content %}
{% load static %}

<h1>Weapon list</h1>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>
{% if weapon_list %}
<div class="row">
    {% for weapon in weapon_list %}
    <div class="col-md4 d-flex align-items-stretch">
        <div class="card mb-4 shadow-sm" style="width: 14rem;">
            {% if weapon.cover %}
            <img src="{{ weapon.cover.url }}" class="card-img-top">
            {% else %}
            <img src="{% static 'img/no-image.png' %}" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text"><a class="card-link" href="{{ weapon.id }}">{{ weapon.name }}</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>There are no weapons.</p>
{% endif %}


{% endblock %}